<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>补丁管理</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}" media="all">
    <script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js') }}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/cssutil.css') }}" media="all">

</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item layui-row">
        <a class="title">Patch</a>
    </li>
    <li class="layui-nav-item"><a href="../appSetting">App管理</a></li>
    <li class="layui-nav-item layui-this"><a>补丁管理</a></li>
    <li class="layui-nav-item" style="float:right">
        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">{{name}}</a>
        <dl class="layui-nav-child">
            <dd><a href="../login/logout">退出登录</a></dd>
        </dl>
    </li>
</ul>
<label class="h1_title">补丁管理</label>

<div class="body_container">
    <button class="layui-btn layui-btn-normal layui-btn-radius" onclick="addVersion()"> 添加App版本</button>
    <button class="layui-btn layui-btn-normal layui-btn-radius" onclick="historyVersion()"> 历史补丁版本</button>

    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="200">
            <col width="100">
        </colgroup>
        <thead>
        <tr>
            <th>App版本</th>
            <th>补丁最新版本</th>
            <th>补丁更新时间</th>
            <th>操作</th>
        </tr>
        </thead>

        {% for lastPatchDetails in lastPatchList %}
        <tr>
            <td>{{lastPatchDetails.appVersion}}</td>
            {% if lastPatchDetails.patchId == ""%}
            <td>--</td>
            <td>--</td>
            <td>
                <a class="a" href="../publish/newPatch/{{appId}}/{{lastPatchDetails.appVersionCode}}">添加</a>
            </td>
            {% else %}
            <td>{{lastPatchDetails.patchVersion}}</td>
            <td>{{lastPatchDetails.updateTime}}</td>
            <td>
                <a class="a" href="../details/{{lastPatchDetails.patchId}}">管理</a>
            </td>
            {%endif%}
        </tr>
        {% endfor %}
    </table>

</div>

</body>
<script>
    function addVersion() {
        window.location.href = "../appSetting/addAppVersion/{{appId}}";
    }

    function historyVersion() {
        window.location.href = "../patch/historyPatch/{{appId}}";
    }
</script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    function btnClick() {
        window.location.href = "../appSetting/addAppName";
    }
</script>
</html>